@tailwind base;
@tailwind components;
@tailwind utilities;
/* nav */
.nav-box{
    z-index: 90 !important;
}
#menu-nav{
    font-family: "Lato", sans-serif;
}
.nav-menu-font{
    font-family: "Lato", sans-serif;
}
/* hero */
.hero-fonts{
    font-family: "Cormorant", serif;
}
.hero-desc{
    font-family: "Lato", sans-serif;
}
/* about */
.about-font{
    font-family: "Cormorant", serif;
}
.about-font-desc{
    font-family: "Lato", sans-serif;
}
.about-list{
    font-family: "Cormorant", serif;
}
.about-list2{
    font-family: "Lato", sans-serif;
}
.home-box{
    background-image: url(../src/assets/img/bg-hero.png);
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
.home-box-mobile{
    background-image: url(../src/assets/img/bg-hero-mobile.png);
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
/* whyme */
.whyme-font{
    font-family: "Cormorant", serif;
}
.whyme-font-desc{
    font-family: "Lato", sans-serif;
}
/* testimonials */
.testimonials-font{
    font-family: "Cormorant", serif;
}
.testimonials-font-review{
    font-family: "Cormorant", serif;
}
.testimonials-font-review-platform{
    font-family: "Lato", sans-serif;
}
/* price */
.price-font{
    font-family: "Cormorant", serif;
}
.price-font-2{
    font-family: "Lato", sans-serif;
}
.price-box{
    background-image: url(../src/assets/img/pricelist-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* portfolio */
.portfolio-font{
    font-family: "Cormorant", serif;
}
.portfolio-font-2{
    font-family: "Lato", sans-serif;
}
/* contact */
.contact-font{
    font-family: "Cormorant", serif;
}
.contact-font-2{
    font-family: "Lato", sans-serif;
}
/* slider */
.swiper {
    width: 100%;
    height: 100%;
    position: static !important;
}
.swiper-button-prev{
    /* position: absolute;
    bottom: -65px;
    top: auto; */
    @apply ml-[10px] left-[47%] 2xl:left-[49%] top-auto bottom-[-65px] absolute
}
.swiper-button-next{
    /* position: absolute;
    bottom: -65px;
    top: auto; */
    @apply lg:right-[44%] 2lg:right-[46%] xl:right-[44%] 2xl:right-[45%] top-auto bottom-[-65px] absolute
}
.swiper-button-next:after{
    content: url('./assets/img/next-slider.png') !important;
}
.swiper-button-prev:after{
    content: url('./assets/img/left-slider.png') !important;
}

.swiper-wrapper{
    position: static !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* slider mobile */
#mySwiper-mobile {
    /* width: 240px;
    height: 320px; */
    @apply w-[200px] xs:w-[230px] md:w-[260px] h-[310px] xs:h-[320px] md:h-[330px]
}

#mySwiper-mobile, .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: transparent;
}

/* slider pagination button */
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    @apply bottom-0
}
.swiper-pagination-bullet-active{
    @apply bg-secondary
}



